div.quickstats {
color: black;
}
  
div.quickstats.basics span.title, div.quickstats.ip span.title, div.quickstats.ua span.title {
color: black;
font-weight:bold;
font-size: 125%;
}

div.quickstats.ip {
    padding:2px;  
    clear:left;
    padding: 8px;  
    margin-left: 60px;  /* aligns with basics left alignment */
}
div.quickstats span.total {
       font-size:115%;       	   
       color:blue; 
}   
th.quickstats_sort {  
    pointer: hand;
    text-align:center;
    background-color: #eeeeee;
    }
 a.quickstats_sort_title  { /*color: blue !important; */}   /* this will change the color etc of the column titles */
 
div.quickstats.basics { padding:2px; }

/* partial settings for basic layout */
div.browsers_basics {width: 150px;}
div.pages_basics { width: 310px;  }

div.pages_basics { margin-left: 225px;  margin-top: 14px;}
div.countries_basics { 
  padding-right: 60px; 
  margin-top: 14px;
 width: 280px;  
 }

/* placeholders for individual css formatting */
div.quickstats.misc span.title, div.quickstats.page span.title, div.quickstats.countries span.title, div.quickstats.ua span.title {}
div.quickstats.misc { }
div.quickstats.pages {}
div.quickstats.countries { }
div.quickstats.ua {}

